@use '../abstracts' as *;
@use 'sass:map';

.card {
  background: color('neutral');
  border-radius: map.get($border-radius, 'base');
  box-shadow: map.get($shadows, 'sm');
  overflow: hidden;
  
  &__header {
    padding: spacing('md');
    border-bottom: 1px solid map.get($form, 'border-color');
  }
  
  &__body {
    padding: spacing('md');
  }
  
  &__footer {
    padding: spacing('md');
    border-top: 1px solid map.get($form, 'border-color');
    background-color: var(--color-neutral); //css custom property
  }

  //service card variant
   &--service {
    @include transition(all); 
    
    &:hover {
      transform: translateY(-4px);
      box-shadow: map.get($shadows, 'md');
    }
  }

  //responsive adjustments
  @include media('sm') {
    &__header,
    &__body,
    &__footer {
      padding: spacing('lg');
    }
  }
}