@use '../abstracts' as *;

.footer {
  background: color('dark');
  color: text-color('secondary');
  padding: spacing('xl') 0 spacing('md');
  
  &__content {
    @include grid(
      $gap: spacing('xl'),
      $responsive: (
        'md': 3
      )
    );
  }
  
  &__copyright {
    border-top: 1px solid rgba(text-color('secondary'), 0.2);
    margin-top: spacing('xl');
    padding-top: spacing('md');
    text-align: center;
    color: text-color('muted');
  }
}