@use '../abstracts' as *;
@use 'sass:map';

.header {
  background: color('neutral');
  box-shadow: map.get($shadows, 'sm');
  position: sticky;
  top: 0;
  z-index: map.get($z-layers, 'dropdown');
  
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: spacing('md') 0;
  }
  
  &__logo {
    font-size: map.get($font-sizes, 'xl'); // 2.4rem
    font-weight: 700;
    color: text-color('primary');
  }
  
  &__nav {
    display: none;
    
    @include media('md') {
      display: flex;
      gap: spacing('lg');
    }
  }
  
  &__mobile-toggle {
    display: block;
    cursor: pointer;
    @include transition('opacity');
    
    @include media('md') {
      display: none;
    }
  }
}