@use '../abstracts' as *;

.section {
  padding: spacing('xl') 0;
  
  @include media('md') {
    padding: spacing('2xl') 0;
  }
  
  // Spacing variants
  &--sm {
    padding: spacing('lg') 0;
  }
  
  &--lg {
    padding: spacing('2xl') 0;
    
    @include media('md') {
      padding: spacing('3xl') 0;
    }
  }
  
  // Background variants
  &--primary {
    background-color: color('primary');
  }

  &--neutral {
    background-color: color('neutral');
  }

  &--info {
    background-color: color('info');
  }

  &--avis {
    background-color: color('avis');
  }
}