@use '../abstracts' as *;
@use 'sass:map';

@each $variant, $color in $button-colors {
  .btn-#{$variant} {
    @include button-base();
    @include button-variant($variant);
  }
}

@each $variant, $color in $button-colors {
  .btn-#{$variant} {
    @include button-base();
    @include button-variant($variant);
  }
}

.btn {
  @include button-base();
  &--small {
    padding: spacing('xs') spacing('sm');
    font-size: map.get($font-sizes, 'sm');
  }
  
  &--large {
    padding: spacing('md') spacing('lg');
    font-size: map.get($font-sizes, 'lg');
  }
  
  &--block {
    width: 100%;
  }
  
  &--outlined {
    background-color: transparent;
    border: 2px solid currentColor;
    
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &__primary {
    background-color: map.get($button-colors, "cta");
  }

  &__primary:hover {
    background-color: yellow;
  }
  
  &__primary:active {
    background-color: orange;
  }
}

// how to use :
// <button class="btn-base btn--small btn--outlined">small button with border</button>