//reset CSS for better custom
@use 'sass:map';
@use '../abstracts' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; //ease width calculation
}

html {
    font-size: 62.5%; // 1rem = 10px, ease calcuation
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent; //avoid highlight on mobile
  }

  body {
    margin: 0;
    padding: 0;
    font-family: map.get($font-families, 'primary');
    font-size: map.get($font-sizes, 'base'); 
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: map.get($colors, 'primary');
  }


  ::selection { // css pseudo-element to custom text style user selection. By default blue. Here set to secondary bg color & primary text color
    background-color: map.get($colors, 'secondary');
    color: map.get($text-colors, 'primary');
  }
  


  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: inherit; //this allows headings to be styled purely through custom CSS classes, preventing unwanted browser-specific styling and ensuring consistent typography
    font-size: inherit;
  }

  p, ul, ol {
    margin: 0;
    padding: 0;
  }
  
  ul, ol {
    list-style: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  img, picture, video, canvas, svg {
    //making medias reponsive by default
    display: block;
    max-width: 100%;
    height: auto;
  }

  //reset form 
  button, input, textarea, select {
    font: inherit;
    color: inherit;
  }
  
  button {
    cursor: pointer;
    border: none;
    background: none;
    padding: 0; 
    text-align: inherit; // avoid centering by default
    
    &:disabled {
      cursor: not-allowed;
    }
  }

  :focus-visible { //for better accessibility
    outline: 2px solid map.get($colors, 'secondary');
    outline-offset: 2px;
  }