@use '../abstracts' as *;
@use 'sass:map';

body {
  font-family: map.get($font-families, 'primary');
  color: text-color('primary');
  line-height: 1.6;
}

h1, .h1 {
  font-size: map.get($font-sizes, '2xl');
  font-weight: 700;
  line-height: 1.2;
  
  @include media('md') {
    font-size: map.get($font-sizes, '3xl');
  }
}

h2, .h2 {
  font-size: map.get($font-sizes, 'xl'); 
  font-weight: 600;
  line-height: 1.3;
  
  @include media('md') {
    font-size: map.get($font-sizes, '2xl'); 
  }
}

h3, .h3 {
  font-size: map.get($font-sizes, 'lg'); 
  font-weight: 600;
  line-height: 1.4;
}